@import "tailwindcss";

@import "uploadthing/tw/v4";
@theme {
  --color-app: #f1f5f9;
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
